.main-home-page {
  .hero-section {
    &__inner {
      background-color: $brand-red;
      margin: $spacing-7 auto;
      border-radius: $rounded-xs;
      padding: $spacing-8;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $spacing-6;

      @media (max-width: $breakpoint-2xl) {
        margin: $spacing-7 $spacing-6;
      }

      @media (max-width: $breakpoint-lg) {
        flex-direction: column;
      }
    }

    &__content {
      max-width: 700px;
    }

    &__description {
      line-height: 26px;
      letter-spacing: 0px;
      margin: $spacing-10 0;
      max-width: 569px;
    }

    .hero-statistics {
      font-family: $font-family-heading;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 569px;

      @include mobile {
        flex-direction: column;
      }

      &__item {
        display: flex;
        align-items: center;
        gap: $spacing-6;
      }
      &__number {
        font-size: 42px;
        line-height: 62px;
      }
      &__text {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }

  .our-benefits-section {
    padding: $spacing-10 0;

    h2,
    h3 {
      text-align: center;
    }

    h2 {
      color: $text-color-black;
      margin-bottom: $spacing-6;
    }

    h3 {
      color: $text-color-gray-600;
    }

    &__content {
      margin-top: $spacing-10;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;

      @include laptop {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }

      @include tablet {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        padding: 0 $spacing-6;
      }

      @include mobile {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        padding: 0 $spacing-6;
      }

      h3 {
        font-size: 20px;
        font-weight: 700;
        color: $text-color-dark-black;
        margin: $spacing-6 0;
      }

      p {
        color: $text-color-gray-600;
        line-height: 26px;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      border: 1px solid $border-color-red;
      padding: $spacing-6;
      transition: all 0.3s ease;

      @include tablet {
        background-color: $brand-red;
        border-color: $brand-red;

        h3,
        p {
          color: $white;
        }
      }

      @include mobile {
        background-color: $brand-red;
        border-color: $brand-red;

        h3,
        p {
          color: $white;
        }
      }

      &:hover {
        background-color: $brand-red;
        border-color: $brand-red;

        h3,
        p {
          color: $white;
        }
      }
    }

    &__item:nth-child(1) {
      border: none;

      @include laptop {
        border-bottom: none;
      }

      @include tablet {
        border: 1px solid $white;
      }

      @include mobile {
        border: 1px solid $white;
      }
    }

    &__item:nth-child(2) {
      border-top: none;
      border-bottom: none;

      @include laptop {
        border-right: none;
      }

      @include tablet {
        border: 1px solid $white;
        border-top: none;
      }

      @include mobile {
        border: 1px solid $white;
        border-top: none;
      }
    }

    &__item:nth-child(3) {
      border: none;

      @include laptop {
        border-right: none;
        border-top: 1px solid $border-color-red;
        border-bottom: none;
        border-left: none;
      }

      @include tablet {
        border: 1px solid $white;
        border-top: none;
      }

      @include mobile {
        border: 1px solid $white;
        border-top: none;
      }
    }

    &__item:nth-child(4) {
      border-left: none;
      border-bottom: none;
      border-right: none;

      @include laptop {
        border-right: none;
        border-left: 1px solid $border-color-red;
      }

      @include tablet {
        border: 1px solid $white;
        border-top: none;
      }

      @include mobile {
        border: 1px solid $white;
        border-top: none;
      }
    }

    &__item:nth-child(5) {
      border-bottom: none;

      @include laptop {
        border-bottom: 1px solid $border-color-red;
        border-left: none;
        border-right: none;
      }

      @include tablet {
        border: 1px solid $white;
        border-top: none;
      }

      @include mobile {
        border: 1px solid $white;
        border-top: none;
      }
    }

    &__item:nth-child(6) {
      border-right: none;
      border-bottom: none;
      border-left: none;

      @include laptop {
        border-bottom: 1px solid $border-color-red;
        border-left: 1px solid $border-color-red;
      }

      @include tablet {
        border: 1px solid $white;
        border-top: none;
      }

      @include mobile {
        border: 1px solid $white;
        border-top: none;
      }
    }

    &__item-icon {
      margin-bottom: $spacing-6;
    }
  }

  .meet-the-team-section {
    padding: $spacing-10 0;

    &__title {
      text-align: center;
      color: $text-color-dark-black;
      margin-bottom: $spacing-6;
    }

    &__subtitle {
      text-align: center;
      color: $text-color-gray-600;
      margin-bottom: $spacing-10;
    }

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 800px;
      margin: $spacing-17 auto 0;
    }

    &__card {
      position: relative;
    }

    &__card-image {
      img {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        border-radius: $rounded-xs;
        transition: all 0.3s ease;
        z-index: 1;
        position: relative;

        &:hover {
          transform: rotate(0deg);
          z-index: 10;
        }
      }
    }

    &__card {
      &:hover {
        .meet-the-team-section__card-content {
          opacity: 1;
          transform: rotate(0deg) translateY(-10px);
          z-index: 10;
        }
      }
    }

    // When hovering over any card, fade out the others
    &:hover {
      .meet-the-team-section__card:not(:hover) {
        .meet-the-team-section__card-content {
          opacity: 0.3;
          transform: scale(0.95);
        }
      }
    }

    .image-one {
      transform: rotate(5deg);
    }

    .image-two {
      transform: rotate(-5deg);
    }

    .image-three {
      transform: rotate(5deg);
    }

    &__card-content {
      position: absolute;
      background-color: $white;
      padding: $spacing-6;
      border-radius: $rounded-xs;
      top: -120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0;
      opacity: 1;
      transition: all 0.3s ease;

      h3 {
        color: $text-color-dark-black;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
      }

      p {
        color: $text-color-gray-500;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: center;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -35px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid $white;
        }
      }
    }

    .content-one {
      transform: rotate(-5deg);
    }

    .content-two {
      transform: rotate(5deg);
    }

    .content-three {
      transform: rotate(-5deg);
    }
  }
}
