---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Header />
	<main>
		<!-- Your main content will go here -->
	</main>
	<Footer />
</Layout>
