// Base styles
html {
  scroll-behavior: smooth;
}

body {
  background-color: $brand-bg-red;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 $spacing-10;

  @include tablet-landscape {
    padding: 0 $spacing-8;
  }

  @include tablet {
    padding: 0 $spacing-6;
  }

  @include mobile {
    padding: 0 $spacing-5;
  }
}
